{{ .contents.data }}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ if eq .contents.op "edit" }}Ubah Parameter Beasiswa{{ else }}Tambah Parameter Beasiswa Baru{{end}}<small>({{ .identity.scholarshipId }})[{{ .contents.index}}]</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="pi-form" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">

                        <label for="st-name">Nama</label>
                        <input id="st-name" name="name" type="text" class="form-control" value="{{ .contents.parameter.name }}">

                        <label for="st-type">Jenis</label>
                        <input id="st-type" name="type" type="text" class="form-control" value="{{ .contents.parameter.type }}">

                        <label for="st-parent">Jenis</label>
                        <input id="st-parent" name="parent" type="text" class="form-control" value="{{ .contents.parameter.parent }}">

                        <label for="st-parent">Kriteria</label> {{ range $i, $c := .contents.parameter.criteria }}

                        <div class="col-md-12 input-group ">
                            <input id="st-name" name="criteria[0][name]" type="text" class="form-control" value="{{ $c.name }}">
                            <span class="input-group-btn"></span>
                            <input id="st-value" name="criteria[0][value]" type="text" class="form-control" value="{{ $c.value }}">
                            <span class="input-group-btn"></span>
                            <input id="st-condition" name="criteria[0][condition]" type="text" class="form-control" value="{{ $c.condition }}">
                        </div>
                        {{ end }}

                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success">Simpan</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<br />