<h1 style="text-align: center;">&nbsp;</h1>
<h1 style="text-align: center;"><span style="color: #000000;"><strong><img src="/assets/images/logo.png" alt="" width="200" height="193" /></strong></span></h1>
<h1 style="text-align: center;"><span style="color: #000000;"><strong>Sistem Pendukung Keputusan Seleksi Penerima Beasiswa Dengan Metode AHP di SDN Losari</strong></span></h1>