<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">


                <h2>{{ if eq .contents.op "edit" }}Edit{{ else }}Add New{{end}} Participant <small>({{ oitos .contents.participant.Id }})</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="pi-form" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">
                        {{ $voList := .contents.vo }}{{ if eq .contents.op "edit" }}
                        <label for="st-student">Siswa - {{ .contents.participant.Student.name }} {{ .contents.participant.Student.class }}</label>
                        <input id="st-student" name="student" type="text" class="form-control" disabled value="{{ .contents.participant.Student.id }}"> {{ range $key, $val := .contents.participant.Input }} {{ if eq $key "gaji" }}
                        <label for="st-{{ $key }}">Gaji Orang Tua</label> {{ else }}
                        <label for="st-{{ $key }}">{{ title $key }}</label> {{ end }}
                        <select id="st-{{ $key }}" name="{{ $key }}" class="form-control" required>
                            {{ $vo := voi $voList $key}}
                            
                            <option value="">Choose...</option>
                           
                            {{ range $k, $v := $vo }}

                            {{ if eq $k $val }}
                                <option value="{{$k}}" selected>{{$v}}</option>
                            {{ else }}
                                <option value="{{$k}}">{{$v}}</option>
                            {{ end }}

                            {{ end }} 
                        </select> {{ end }} {{ else }}
                        <label for="st-student">Siswa</label>
                        <div class="input-group">
                            <input id="st-student" name="student" type="text" class="form-control" disabled> {{ range $key, $val := .contents.criteria }} {{ if eq $val "gaji" }}
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Select</button>
                        </span>
                        </div>
                        <label for="st-{{ $val }}">Gaji Orang Tua</label> {{ else }}
                        <label for="st-{{ $val }}">{{ title $val }}</label> {{ end }}
                        <select id="st-{{ $val }}" name="{{ $key }}" class="form-control" required>
                            <option value="">Choose...</option>
                            {{ $vo := voi $voList $val}}

                            {{ range $k, $v := $vo }}                            
                                <option value="{{$k}}">{{$v}}</option>                           
                            {{ end }}
                        </select> {{ end }} {{ end }}

                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>