<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Perhitungan Metode AHP <small>per tahap</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <form id="demo-form" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">

                        <label for="st-metode">Data beasiswa yang tersedia</label>
                        <div class="input-group">
                            <select class="form-control" name="id" title="Please select a shcolarship ...">
                                <option value="">Pilih Beasiswa...</option>
                                {{ range $i, $scholarship := .contents.scholarships }}
                                <option value="{{ oitos $scholarship.Id }}">{{ $scholarship.Type }}</option>
                                {{ end }}
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit" style="height: 34px;">Tampilkan</button>
                            </span>
                        </div>
                    </div>
                </form>

                <!-- Smart Wizard -->
                <p>Berikut ini adalah tahapan perhitungan beasiswa dengan menggunakan metode AHP.</p>
                <div id="wizard_verticle" class="form_wizard wizard_horizontal"></div>
                <!-- End SmartWizard Content -->






                <!-- End SmartWizard Content -->
            </div>
        </div>
    </div>
</div>