{{ $scholarshipId := .identity.scholarshipId }}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ if eq .contents.op "edit" }}Ubah Beasiswa{{ else }}Tambah Beasiswa Baru{{end}} <small>({{ oitos .contents.scholarship.Id }})</small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="pi-form" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">
                        <input type="hidden" name="id" value="{{ oitos .contents.scholarship.Id }}">
                        <input type="hidden" name="id_action" value="{{ $scholarshipId }}"> {{ range $i, $participant := .contents.scholarship.Participants }}
                        <input type="hidden" name="participants[]" value="{{ $participant }}"> {{ end }}

                        <label for="st-type">Nama</label>
                        <input id="st-type" name="type" type="text" class="form-control" value="{{ .contents.scholarship.Type }}">

                        <label for="st-metode">Metode</label>
                        <select id="st-metode" name="metode" class="form-control" required>
                            <option value="">Pilih Beasiswa...</option>
                            <option value="AHP" selected>AHP</option>
                        </select>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success">Simpan</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Parameter Perhitungan Beasiswa<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ $scholarshipId }}/criteria/create">Tambah Baru</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table table-striped jambo_table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nama</th>
                            <th>Induk</th>
                            <th>Kriteria</th>
                            <th></th>
                            <th>Jenis</th>
                            <th>Pertanyaan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $i, $parameter := .contents.scholarship.Parameters }}

                        <tr role="button" data-href="{{ $scholarshipId }}/criteria/{{ $i }}">
                            <td>{{ iton $i }}</td>
                            <td>{{ title $parameter.name }}</td>
                            <td>{{ title $parameter.parent }}</td>
                            <td>
                                {{ range $i, $c := $parameter.criteria }} {{ $c.value }} - {{ title $c.name }}<br> {{ end }}
                            </td>
                            <td>
                                {{ range $i, $c := $parameter.criteria }} {{ $c.condition }}<br> {{ end }}
                            </td>
                            <td>{{ title $parameter.type }}</td>
                            <td class="spesial-width">
                                {{ range $j, $q := $parameter.questionnaire }} <strong>{{title $q.n1 }}</strong> <i>{{questionnaire $q.identitas }}({{ $q.identitas }})</i> dari <strong>{{title $q.n2 }}</strong><br>{{ end }}
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<br />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Tambah Penerima Beasiswa <small>Berdasarkan Kelas</small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="fs-form" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">
                        <input type="hidden" name="scholarship_id" value="{{ $scholarshipId }}">
                        <label for="st-metode">Metode</label>
                        <select id="st-class" name="class" class="form-control" required>
                            
                            <option value="">Pilih Kelas...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">Daftarkan Penerima</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Alternatif Penerima Beasiswa<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Hitung</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table id="result" class="table table-striped jambo_table">
                    <thead> 
                            <th>No.</th>
                            <th>Nama</th> 
                            <th>NIS</th>
                            <th>Kelas</th>
                            <th>Nilai Input</th>
                            <th>Nilai Output</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $i, $participant := .contents.participants }}

                        <tr role="button" data-href="{{ $scholarshipId }}/participant/{{ $participant.id }}">
                            <td>{{ iton $i }}</td>
                            <td>{{ $participant.student.name }}</td>
                            <td></td>
                            <td>{{ $participant.student.class }}</td>
                            <td>
                                   {{ range $key, $val := $participant.input }} 
                                   <strong>{{ if eq $key "gaji" }} Gaji Orang Tua {{ else }} {{ title $key}} {{ end }}</strong>: {{ $val }}<br> {{ end }}
                                
                            </td>
                            <td class="spesial-width">
                                {{ range $key, $val := $participant.output }}
                                <strong>{{ if eq $key "gaji" }} Gaji Orang Tua {{ else }} {{ title $key}}{{ end }}</strong>: {{ if eq $key "total" }}
                                <strong>{{ printf "%.4f" $val }}</strong> {{ else }} {{ printf "%.4f" $val }}<br>{{ end }}{{ end }}
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>