<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Data Beasiswa <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="scholarship/create">Add New</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped jambo_table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nama</th>
                            <th>Metode</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $i, $scholarship := .contents.scholarships }}
                        <tr id="{{ oitos $scholarship.Id }}" role="button" data-href="scholarship/{{ oitos $scholarship.Id }}">
                            <td>{{ iton $i }}</td>
                            <td>{{ $scholarship.Type }}</td>
                            <td>{{ $scholarship.Metode }}</td>
                            <td><button role="delete">Hapus</button></td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<br />