<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Filter <small> Data Siswa</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="pi-form" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label for="st-class">Kelas</label>
                        <select id="st-class" name="class" class="form-control" required>
                            <option value="">Pilih Kelas...</option>
                            {{ $class := .contents.class }}
                            {{ $isSelected := options "1" $class}}
                            <option value="1" {{ if $isSelected }}selected{{end}}>1</option>
                            {{ $isSelected := options "2" $class}}
                            <option value="2" {{ if $isSelected }}selected{{end}}>2</option>
                            {{ $isSelected := options "3" $class}}
                            <option value="3" {{ if $isSelected }}selected{{end}}>3</option>
                            {{ $isSelected := options "4" $class}}
                            <option value="4" {{ if $isSelected }}selected{{end}}>4</option>
                            {{ $isSelected := options "5" $class}}
                            <option value="5" {{ if $isSelected }}selected{{end}}>5</option>
                            {{ $isSelected := options "6" $class}}
                            <option value="6" {{ if $isSelected }}selected{{end}}>6</option>

                        </select>

                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">Tampilkan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Data Siswa <small> Grup Berdasarkan Kelas</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="student/create">Tambah Baru</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped jambo_table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nama</th>
                            <th>NIS</th>
                            <th>Kelas</th>
                            <th>Alamat</th>
                            <th>Jenis Kelamin</th>
                            <th>Tempat Lahir</th>
                            <th>Tanggal Lahir</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $i, $student := .contents.students }}
                        <tr role="button" data-href="student/{{ oitos $student.Id }}">
                            <td>{{ iton $i }}</td>
                            <td>{{ $student.Name }}</td>
                            <td></td>
                            <td>{{ $student.Class }}{{ $student.ClassGroup }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button role="delete">Hapus</button></td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>