<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ if eq .contents.op "edit" }}Ubah Siswa{{ else }}Tambah Siswa Baru{{end}} <small>({{ oitos .contents.student.Id }})</small><small class="small-notify"></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="pi-form" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">
                        <input id="st-id" name="id" type="hidden" value="{{ oitos .contents.student.Id }}">
                        <label for="st-name">Nama</label>
                        <input id="st-name" name="name" type="text" class="form-control" value="{{ .contents.student.Name }}">

                        <label for="st-class">Kelas</label>
                        <div class="col-md-12 input-group "> 
                            <select id="st-class" name="class" class="form-control" required>
                                <option value="">Pilih Kelas...</option>
                                {{ $class := toString2 .contents.student.Class }}
                                {{ $isSelected := options "1" $class}}
                                <option value="1" {{ if $isSelected }}selected{{end}}>1</option>
                                {{ $isSelected := options "2" $class}}
                                <option value="2" {{ if $isSelected }}selected{{end}}>2</option>
                                {{ $isSelected := options "3" $class}}
                                <option value="3" {{ if $isSelected }}selected{{end}}>3</option>
                                {{ $isSelected := options "4" $class}}
                                <option value="4" {{ if $isSelected }}selected{{end}}>4</option>
                                {{ $isSelected := options "5" $class}}
                                <option value="5" {{ if $isSelected }}selected{{end}}>5</option>
                                {{ $isSelected := options "6" $class}}
                                <option value="6" {{ if $isSelected }}selected{{end}}>6</option>

                            </select>
                            <span class="input-group-btn"></span>
                            <select id="st-class-group" name="classGroup" class="form-control">
                                <option value="">Pilih Grub...</option>
                                {{ $classGroup := toString2 .contents.student.ClassGroup }}
                                {{ $isSelected := options "A" $classGroup}}
                                <option value="A" {{ if $isSelected }}selected{{end}}>A</option>
                                {{ $isSelected := options "B" $classGroup}}
                                <option value="B" {{ if $isSelected }}selected{{end}}>B</option>
                                {{ $isSelected := options "C" $classGroup}}
                                <option value="C" {{ if $isSelected }}selected{{end}}>C</option>
                                {{ $isSelected := options "D" $classGroup}}
                                <option value="D" {{ if $isSelected }}selected{{end}}>D</option>
                            </select>
                        </div>

                        <label for="st-gender">Jenis Kelamin</label>
                        <select id="st-gender" name="gender" class="form-control" required>
                            <option value="">Pilih Jenis Kelamin...</option>
                            {{ $gender := toString2 .contents.student.Gender }}
                            {{ $isSelected := options "1" $gender}}
                            <option value="1" {{ if $isSelected }}selected{{end}}>Laki-laki</option>
                            {{ $isSelected := options "2" $gender}}
                            <option value="2" {{ if $isSelected }}selected{{end}}>Perempuan</option>
                        </select>
                        <label for="st-birdcity">Tempat / Tanggal Lahir</label>
                        <div class="col-md-12 input-group ">
                            <input id="st-birthcity" name="birthcity" type="text" class="form-control" value="{{.contents.student.Birthcity}}">
                            <span class="input-group-btn"></span>
                            <input id="st-birthday" name="birthday" type="text" class="form-control" value="{{fd .contents.student.Birthday "2006-01-02"}}">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <label for="st-name">Nama Ayah</label>
                        <input id="st-father-name" name="parentInfo[father][name]" type="text" class="form-control" value="{{ if .contents.student.ParentInfo }}{{ .contents.student.ParentInfo.father.name }}{{end}}">
                        <label for="st-father-profession">Pekerjaan</label>
                        <select id="st-father-profession" name="parentInfo[father][profession]" class="form-control" required>
                            
                            <option value="">Pilih Pekerjaan...</option>
                            {{ $profession := "0"}}
                            {{ if .contents.student.ParentInfo }}
                            {{ $profession := toString2 .contents.student.ParentInfo.father.profession}}
                            {{ $isSelected := options "1" $profession}}
                            <option {{ if $isSelected }}selected{{end}} value="1">Buruh</option>
                            {{ $isSelected := options "2" $profession}}
                            <option {{ if $isSelected }}selected{{end}} value="2">Karyawan Swasta</option>
                            {{ $isSelected := options "3" $profession}}
                            <option {{ if $isSelected }}selected{{end}} value="3">Lainnya</option>
                            {{ $isSelected := options "4" $profession}}
                            <option {{ if $isSelected }}selected{{end}} value="4">Pedagang Kecil</option>
                            {{ $isSelected := options "5" $profession}}
                            <option {{ if $isSelected }}selected{{end}} value="5">Petani</option>
                            {{ $isSelected := options "6" $profession}}
                            <option {{ if $isSelected }}selected{{end}} value="6">PNS/TNI/Polri</option>
                            {{ $isSelected := options "7" $profession}}
                            <option {{ if $isSelected }}selected{{end}} value="7">Tidak bekerja</option>
                            {{ $isSelected := options "8" $profession}}
                            <option {{ if $isSelected }}selected{{end}} value="8">Wiraswasta</option>
                            {{ $isSelected := options "9" $profession}}
                            <option {{ if $isSelected }}selected{{end}} value="9">Wirausaha</option>
                            {{ $isSelected := options "10" $profession}}
                            <option {{ if $isSelected }}selected{{end}} value="10">Peternak</option>
                            {{ else }}
                            <option value="1">Buruh</option>
                            <option value="2">Karyawan Swasta</option>
                            <option value="3">Lainnya</option>
                            <option value="4">Pedagang Kecil</option>
                            <option value="5">Petani</option>
                            <option value="6">PNS/TNI/Polri</option>
                            <option value="7">Tidak bekerja</option>
                            <option value="8">Wiraswasta</option>
                            <option value="9">Wirausaha</option>
                            <option value="10">Peternak</option>
                            {{ end }}
                        </select>

                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success">Simpan</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Kelengkapan Data <small>parameter penilaian</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="si-form" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <input id="st-id" name="id" type="hidden" value="{{ oitos .contents.student.Id }}">
                        <label for="st-parentsSalary">Gaji</label>
                        <select id="st-parentsSalary" name="parentsSalary" class="form-control" required>
                            <option value="">Pilih Gaji Ortu ...</option>
                            {{ $gaji := toString2 .contents.student.Input.Gaji }}
                            {{ $isSelected := options "3" $gaji}}
                            <option value="3" {{ if $isSelected }}selected{{end}}>0-1 Juta</option>
                            {{ $isSelected := options "2" $gaji}}
                            <option value="2" {{ if $isSelected }}selected{{end}}>1-2 Juta</option>
                            {{ $isSelected := options "1" $gaji}}
                            <option value="1" {{ if $isSelected }}selected{{end}}>&nbsp;>2 Juta</option>
                        </select>
                        <label for="st-absence">Alpha</label>
                        <select id="st-absence" name="absence" class="form-control" required>
                            <option value="">Pilih Alpha...</option>
                            {{ $absensi := toString2 .contents.student.Input.Absensi }}
                            {{ $isSelected := options "3" $absensi}}
                            <option value="3" {{ if $isSelected }}selected{{end}}>0-2</option>
                            {{ $isSelected := options "2" $absensi}}
                            <option value="2" {{ if $isSelected }}selected{{end}}>3-5</option>
                            {{ $isSelected := options "1" $absensi}}
                            <option value="1" {{ if $isSelected }}selected{{end}}>&nbsp;>6</option>
                        </select>
                        <label for="st-score">Nilai</label>
                        <select id="st-score" name="score" class="form-control" required>
                            <option value="">Pilih Nilai...</option>
                            {{ $nilai := toString2 .contents.student.Input.Nilai }}
                            {{ $isSelected := options "3" $nilai}}
                            <option value="3" {{ if $isSelected }}selected{{end}}>81-90</option>
                            {{ $isSelected := options "2" $nilai}}
                            <option value="2" {{ if $isSelected }}selected{{end}}>71-80</option>
                            {{ $isSelected := options "1" $nilai}}
                            <option value="1" {{ if $isSelected }}selected{{end}}>61-70</option>
                        </select>
                        <label for="st-behavior">Perilaku</label>
                        <select id="st-behavior" name="behavior" class="form-control" required>
                            <option value="">Pilih Perilaku...</option>
                            {{ $perilaku := toString2 .contents.student.Input.Perilaku }}
                            {{ $isSelected := options "3" $perilaku}}
                            <option value="3" {{ if $isSelected }}selected{{end}}>A</option>
                            {{ $isSelected := options "2" $perilaku}}
                            <option value="2" {{ if $isSelected }}selected{{end}}>B</option>
                            {{ $isSelected := options "1" $perilaku}}
                            <option value="1" {{ if $isSelected }}selected{{end}}>C</option>
                        </select>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="btn-group">
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>